<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Aktywacja konta</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Witamy!
        </p>
        <p>
            Twoje konto zostało utworzone, kliknij w poniższy link żeby je aktywować:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"
               th:text="|${user.login}|">Link aktywacyjny</a>
        </p>
        <p>
            <span>Pozdrawiamy, </span>
            <br/>
            <em>EwidenczaQ Team.</em>
        </p>
    </body>
</html>
