
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOtLabel">Create or edit a Ot</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ot.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ot.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_place">Place</label>
            <input type="text" class="form-control" name="place" id="field_place"
                    ng-model="vm.ot.place"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.ot.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.ot.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_path">Path</label>
            <input type="text" class="form-control" name="path" id="field_path"
                    ng-model="vm.ot.path"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_provider">Provider</label>
            <input type="text" class="form-control" name="provider" id="field_provider"
                    ng-model="vm.ot.provider"
                    required/>
            <div ng-show="editForm.provider.$invalid">
                <p class="help-block"
                    ng-show="editForm.provider.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_asset">Asset</label>
            <select class="form-control" id="field_asset" name="asset" ng-model="vm.ot.asset" ng-options="asset as asset.inventoryCode for asset in vm.assets | orderBy:'id' track by asset.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" multiple name="employee" ng-model="vm.ot.employees" ng-options="employee as employee.surname for employee in vm.employees track by employee.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
